.signUpBox-container{
    display: flex;
    flex-direction: column;
    background-color: white;
    width: 400px;
    height: 500px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 1); /* Shadow effect */
    border-radius: 10px;
    position: absolute;
    transform: translateX(-50%);
    top: 25%;
    left: 50%;
}

.signUpBox-header-text {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    padding-left: 120px;
}

.entryarea-container{
    position: relative;
    margin-top: -7%;
    padding-left: 85px;
    height: 300px;
    width: 200px;
}

.username-entryarea{
    position: relative;
    height: 50px;
    line-height: 80px;
}

.email-entryarea{
    position: relative;
    height: 50px;
    line-height: 80px;
}


.password-entryarea{
    position: relative;
    height: 50px;
    line-height: 80px;
}

.confirmPassword-entryarea{
    position: relative;
    height: 50px;
    line-height: 80px;
}

.input{
    position: absolute;
    width: 40%;
    font-size: 13px;
    border-radius: 7px;
    z-index: 1111;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.signUpBox-signup {
    display: flex;
    padding-left: 60px;
}

.signUpBox-signup-text {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 21px;
    padding: 10px;
    background-color: black;
    color: white;
    border-radius: 7px;
    transition: background-color 0.5s, color 0.5s;
    z-index: 1111;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
}

.signUpBox-signup-text:hover {
    padding: 8px;
    background-color: white;
    color: black;
    border: solid black;    
}

.signUpBox-barrier{
    display: flex;
    flex-direction: column;
    height: 50px;
    position: fixed;
    padding-top: 300px;
    padding-left: 25px;
}

.signUpBox-barrier-text{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    margin-top: -10%;
    padding-left: 25px;
}

.signUpBox-pre-existing-text {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    color: gray;
    margin-top: -10%;
    padding-left: 100px;
}

.signUpBox-login-text {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 21px;
    margin-top: -10%;
    padding-left: 150px;
}

.signUpBox-login-text:hover {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 21.1px;
    padding-top: 1px;
    text-decoration: underline;
}
