.navBar-container{
    display: flex;
    flex-direction: row;
    background-color: 0f0f0f;
    align-items: center; /*aligns items vertically*/
    justify-content: space-between;
    width: 100vw;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Shadow effect */
    top: 0;
}

.logo{
    height: 75px;
}
.navBar-logo {
    padding-top: 5px;
    padding-left: 2%;   
}


.navBar-header-text {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 60px;
    margin-bottom: 1%;
    margin-top: 1%;
    /* padding-left: 60px; */
}

.navBar-buttons {
    display: flex;
    align-items: center;
    padding-right: 1%;
    gap: 5px;
}

.navBar-login-button {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 21px;
    padding: 10px;
    background-color: 0f0f0f;
    border-color: white;
    
}

.navBar-login-button:hover {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 21px;
    padding: 10px;
    color: rgb(133, 133, 133); 
    transition: background-color 0.5s, color 0.5s;
}

.navBar-signUp-button {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 21px;
    padding: 10px;
    background-color: black;
    color: white;
    border-radius: 7px;
    transition: background-color 0.5s, color 0.5s;
}

.navBar-signUp-button:hover {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 21px;
    padding: 10px;
    background-color: rgb(75, 75, 75);
    color: rgb(255, 255, 255);
       
}

.navBar-logout-text {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 21px;
    padding: 10px;
    background-color: black;
    color: white;
    border-radius: 7px;
    transition: background-color 0.5s, color 0.5s;
}

.navBar-logout-text:hover {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 21px;
    padding: 10px;
    padding: 7px;
    background-color: white;
    color: black;
    border: solid black;    
}

.center-menu{
    display: flex;
    flex-direction: column;
    text-align: center;
}

.userEmail-text{
    margin: 0px;
    padding-bottom: 7px;
}

@media only screen and (max-width: 767px){
    
    .navBar-container{
        justify-content: space-evenly;
        gap: 4vw;
    }

    .logo{
        height: 15vw;
    }
    .navBar-logo {
        padding-top: 5px;
        padding-left: 2%;   
    }
    
    
    .navBar-header-text {
        padding-left: 0vw;
        font-size: 7vw;
    }
    
    .navBar-buttons {
        padding-right: 2%;
        gap: 0px;
    }
    
    .navBar-login-button {
        margin-left: -5vw;
        font-size: 4.5vw;  
    }
    
    .navBar-login-button:hover {
        font-size: 4.5vw;
    }

    .navBar-signUp-button {
        margin-left: -1vw;
        font-size: 4.5vw;
    }
    
    .navBar-signUp-button:hover {
        font-size: 4.5vw;
    }
    
    .navBar-logout-text {
        font-size: 4.5vw;
    }
    
    .navBar-logout-text:hover {
        font-size: 4.5vw;  
    }

    .userEmail-text{
        font-size: 3vw;
    }
}