.navBar-container{
    display: flex;
    flex-direction: row;
    background-color: white;
    align-items: center; /*aligns items vertically*/
    justify-content: space-between;
    width: 100vw;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Shadow effect */
    position: fixed;
    top: 0;
}

.navBar-logo {
    padding-top: 5px;
    padding-left: 2%;
   
}

.navBar-header-text {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 80px;
    margin-bottom: 2%;
}

.navBar-login {
    display: flex;
    padding-right: 1%;
}

.navBar-login-text {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 21px;
    padding: 10px;
}

.navBar-signUp-text {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 21px;
    padding: 10px;
    background-color: black;
    color: white;
    border-radius: 7px;
    transition: background-color 0.5s, color 0.5s;
}

.navBar-signUp-text:hover {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 21px;
    padding: 7px;
    background-color: white;
    color: black;
    border: solid black;    
}