.graphContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-right: 2vw; 
    font-size: 1.20vw;
    width: 30vw;
}


.className-text-wrapper{
    font-size: 1.8vw;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    margin-left: 3vw;
    margin-top: 0px;
}

.className-text{
    margin-top: 0px;
}
@media only screen and (max-width: 767px){
    .graphContainer{
        width:100vw;
        margin-top: -5vw;;
        margin-left: -8vw;
        font-size: 5vw;
    }

    .text{
        font-size: 5vw;
        margin-left: 12vw;
    }

    .className-text{
        margin-left: 10vw;
        font-size: 8vw;
    }
}

