.review-list {
    display: flex;
    flex-direction: column;
}

.review-element{
    padding: 0px;
    margin: 0px;
}

.noReviewDiv{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
}