.review-list {
    display: flex;
    flex-direction: column;
}

.review-element{
    padding: 0px;
    margin: 0px;
}

.noReviewDiv{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
}

@media only screen and (max-width: 767px){
    .review-list{
        width: 100vw;
        height: 70vh;
        
    }
    .review-element{
        margin-left:8vw;
    }
}