.class-container{
    display: flex;
    flex-direction: row;
    width: 100vw;
    justify-content: space-between;
}

.meta-data{
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    width: 50%;
    align-items: center;
}

.review-container{
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    width: 50%;
    align-items: left;
    max-height: 80vh;
    overflow: hidden;
    overflow-y: scroll;
}   

@media only screen and (max-width: 767px){
    .class-container{
        flex-direction: column;
    }
    
    .meta-data{
        padding-left: 25vw;
    }

    .review-container{
        padding-top: 0vw;
        padding-right: 50vw;
        max-height: 60vh;
    }

}
