.home-container{
    background-image: url('../../public/images/stack.png');
    background-size: cover;
    background-position: center;
    height: 100vh;
    overflow: hidden;
}

@media only screen and (max-width: 767px){
    html, body{
        overflow: hidden;
    }
    .home-container{
        background-image: url('../../public/images/stack.png');
        background-size: cover;
        background-position: center;
        height: 100vh;
        overflow: hidden;
        display: flex;
    }
}


.searchBar {
    display: flex;
    flex-direction: column;
}

body, html {
    margin: 0;
  }

  .support {
    position: fixed;
    bottom: 20px; /* Adjust as needed */
    right: 20px; /* Adjust as needed */
    text-align: center;
    background-color: white;
    width: 400px;
    padding: 3px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Shadow effect */
  }