.university-name{
    display: flex;
    font-size: 60px;
    margin: 0;
    justify-content: center;
    text-align: center;
}

.container{
    width: 100vw;
    height: 100vh;
    background-image: url('../../public/images/stack.png');
    background-size: cover;
    background-position: center;
    overflow: hidden;
}

.back{
    width: 100%;
    padding-left: 40px;
    padding-top: 10px;
}

.backArrow{
    cursor: pointer;
    height: 80px;
}

@media only screen and (max-width: 767px){
    .university-name{
        text-align: center;
        font-size: 9vw;
        margin-top: 5vw;
    }
}