.university-header{
    font-size: 60px;
    padding-top: 30px;
}

.container{
    width: 100vw;
    height: 100vh;
}

@media only screen and (max-width: 767px){
    .university-header{
        text-align: center;
    }
}